@charset "utf-8";

html {
    scroll-behavior: smooth;
    /* position: relative; */
}

body {
    background-color: #e8d9bf;
    /* position: relative; */
}

/* ====================================
// ヘッダー
// ==================================== */
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    /* 145/1920=0.0755 */
    padding-right: 7.6%;
    /* 56/1920=0.029 */
    padding-left: 2.9%;
    position: absolute;
    width: 100%;
    /* slickスライダーを入れるとナビが後ろ側に回ってしまうため、表示順を上げる */
    z-index: 9999;
}

.header_nav {
    max-width: 720px;
    width: 100%;
}

.header_nav ul{
    display: flex;
    gap: 75px;
    /* 75 ÷ 1920 = 0.0391 */
    /* gap: 3.9%; */
    /* 75 ÷ 1000 = 0.075 */
    /* gap: 7.5%; */
    /* 75 / 720（ABOUA US からACCESSまでの幅） = 0.104 */
    /* gap: 10.4%; */
}

.header_nav a{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium","Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.logo{
    width: 227px;
}

.hamburger,
.header_nav-sp {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header_nav {
        display: none;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 21px;
        right: 24px;
        z-index: 9999;
        cursor: pointer;
    }

    .hamburger span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 14px;
        transition: 0.3s;
        border-radius: 1.5px;
    }
    /* 擬似要素 */
    .hamburger span::before{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: -14px;
        transition: 0.3s;
        border-radius: 1.5px;
    }

        .hamburger span::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        bottom: -14px;
        transition: 0.3s;
        border-radius: 1.5px;
    }

    .open span {
        background-color: transparent;
    }

    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }
    .header_nav-sp {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: #000000bb;
    }

    .header_nav-sp ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header_nav-sp li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium","Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
}

.slick-dots {
    bottom: 0;
}

.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

/* 一瞬縦並びになるのを防ぐため、JSが読み込まれるまでは１枚目のみを表示 */
.mainvisual > picture:not(:first-child) {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header_inner{
        padding-top: 13px;
    }
}

/* ====================================
// メイン
// ==================================== */
/* ====================================
// キャッチコピー
// ==================================== */
.catch_copy {
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
} 

.upper_catch {
    font-size: 30px;
    line-height: 3.89;
    letter-spacing: 0em;
    margin-top: 105px;
    margin-bottom: 48px;
}

 .main_catch {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-bottom: 42px;
}

.lower_catch {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin-bottom: 94px;
}

.lower_catch-sp {
    display: none;
}

@media screen and (max-width: 1100px) {
    .upper_catch {
        font-size: 24px;
    }

     .main_catch {
        font-size: 70px;
    }

    .lower_catch {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .catch_copy {
    padding: 0;
} 

    .upper_catch {
        font-size: 17px;
        line-height: 1;
        margin-top: 43px;
        /* 28-3=25 */
        margin-bottom: 25px;
    }

    .main_catch {
        /* font-size: 38px; */
        /* 大きい文字限定で、vwを使うと画面幅に応じて余白とってくれながらフォントサイズを縮小できる */
        font-size: 9.4vw;
        line-height: 1.16;
        letter-spacing: 0.02em;
        /* 24-3-7=14 */
        margin-bottom: 14px; 
    }

    .lower_catch {
        display: none;
    }

    .lower_catch-sp {
        display: block;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.1em;
        /* 66-7=59 */
        margin-bottom: 59px;
    }
}

/* ====================================
// ABOUT US
// ==================================== */
.about_us {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /* gap: 78px; */
    align-items: center;
    /* 78 ÷ 1020 =0.0764 */
    /* gap: 7.6%; */
}

.image_about_us {
    /* width: 500px; */
    width: 50%;
    /* height: 560px; */
}

.image_about_us img {
    width: 100%;
    height: auto;
    /* 82 ÷ 500 / 82 ÷ 560 */
    border-radius: 0 0 16.4% 0 / 0 0 14.6% 0;
    /* border-radius: 0 0 82px 0; */
}

.all_text_about_us {
    /* 500 - 78 = 422 */
    /* width: 422px; */
    width: 50%;
    /* padding-left: 78px; */
    padding-left: 7.8%;
} 

.title_about_us {
    margin-top: 57px;
    margin-bottom: 48px;
}

.heading_h2 img {
    height: 77px;
    width: auto;
}

.catch_about_us {
    font-size: 44px;
    line-height: 1.39;
    letter-spacing: 0em;
    margin-bottom: 22px;
}

.text_about_us {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0em;
    text-align: justify;
}

.about_us-sp {
    display: none;
}

@media screen and (max-width: 1100px) {
    .catch_about_us {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .about_us {
        display: none;
    }

    .about_us-sp {
        display: block;
        max-width: 768px;
        margin: 0 auto;
    }

    .title_about_us-sp {
        text-align: center;
        margin-bottom: 17px;
     
    }

    .heading_h2 img {
    height: 45px;
    width: auto;
}

    .image_about_us-sp {
        width: 100%;
        height: auto;
        /* 36-5=31 */
        margin-bottom: 31px;
    }

    .all_text_about_us-sp {
        padding: 0 20px;
    }

    .catch_about_us-sp {
        font-size: 36px;
        line-height: 1.25;
        letter-spacing: 0em;
        /* 30-5=25 */
        margin-bottom: 25px;
    }

    .text_about_us-sp {
        font-size: 16px;
        /* 28÷16=1.75 */
        line-height: 1.75;
        letter-spacing: 0em;
        text-align: justify;
        /* 57-6=51 */
        margin-bottom: 51px;
    }
}

/* ====================================
// MENU
// ==================================== */
.menu {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.title_menu {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 39px;
}

.list_menu {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    /* gap: 50px; */
    /* 50 ÷ 1020 = 0.0490 */
    /* gap: 4.9%; */
}

.list_menu li {
    width: 30%;
    /* width: 300px; */
    /* height: 314px; */
    /* height: auto; */
    /* position: relative; */
}


.list_menu li img {
    width: 100%;
    height: auto;
    /* aspect-ratio: 300 / 200; */
    /* 42 ÷ 300 = 14 / 42 ÷ 200 = 21 */
    border-radius: 0 14% 0 0 / 0 21% 0 0 ;
    /* border-radius: 0 42px 0 0; */
}

.list_menu li div {
    width: 100%;
    height: auto;
    /* aspect-ratio: 300 / 114; */
    /* position: absolute; */
}

.heading_h3 {
    font-size: 38px;
    font-weight: lighter;
    color: #d30202;
    margin-top: -12px;
    padding-left: 14px;
    margin-bottom: 8px;
}

.text_menu {
    font-size: 17px;
    /* 25/17=1.47 */
    line-height: 1.47;
    letter-spacing: 0em;
    width: 100%;
    height: auto;
    text-align: justify;
    /* 100- */
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .menu {
        padding: 0;
    }

    .title_menu {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 23px;
    }

    .list_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .list_menu li {
        width: 80%;
    }

    .heading_h3 {
    font-size: 40px;
    font-weight: lighter;
    color: #d30202;
    margin-top: -10px;
    padding-left: 11px;
    margin-bottom: 33px;
    }

    .text_menu {
        /* 27-17=1.59 */
        line-height: 1.59;
        letter-spacing: 0em;
        width: 100%;
        height: auto;
        text-align: justify;
        margin-bottom: 60px;
    }
}

/* ====================================
// GALLERY
// ==================================== */
.title_gallery {
    text-align: center;
    /* margin-top: 58px; */
    margin-bottom: 15px;
}

.list_gallery {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    /* color: #fff; */
}

/* モーダルウィンドウで表示されるタイトルの色を変更 */
/* 初期設定ではリセットCSSの#4f260bが設定されている */
/* lb-captionは読み込んだlightbox.min.cssの中で設定されているCSS */
/* lightbox.min.cssは可読性が低いため、実際には読み込んでないがlightbox.cssを参照するとわかりやすい*/
.lb-caption {
    color: #fff;
}

/* .hover::after {
    content: attr(data-title);
    color: #fff;
} */

.list_gallery li {
    width: 20%;
    /* color: #fff; */
}

/* 一瞬縦並びになるのを防ぐため、JSが読み込まれるまでは５枚のみを表示 */
/* ※スライダーは６枚設定して初めて画面サイズぴったりの５枚表示のスラオイダー機能が有効になる */
.list_gallery > li:last-child {
    display: none;
}

/* slick-dots の各要素 (li要素) */
.slick-dots li {
    width: 20px;
}

@media screen and (max-width: 768px) {
    .title_gallery {
    text-align: center;
    /* 95-5-60=90 */
    margin-top: 30px;
    margin-bottom: 21px;
}
}

/* ====================================
// EVENT
// ==================================== */
.event {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

 .title_event {
    text-align: center;
    margin-top: 59px;
    margin-bottom: 29px;
 }

 .box_event {
    background-color: #fff;
    border: 4px solid #4f260b;
    width: 100%;
    height: 200px;
    /* 162 ÷ 1000 = 0.162 */
    /* padding: 0 0 0 16.2% ; */
 }

 .list_event {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 664px;
    margin: 0 auto;
}

.item_list_event {
    display: flex;
    font-size: 23px;
    line-height: 1.96;
    letter-spacing: 0em;
    /* gap: 56px; */
    gap: 5.6%;
}

.underline_link {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .event {
        padding: 0 20px;
    }

     .title_event {
        text-align: center;
        margin-top: 34px;
        margin-bottom: 20px;
    }

    .list_event {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* max-width: 392px; */
        margin: 0 auto;
        padding: 0 20px;
    }

    .item_list_event {
        flex-direction: column;
        font-size: 16px;
        /* 22÷16=1.375 */
        /* 18÷16=1.125 */
        line-height: 1.13;
        letter-spacing: 0em;
    }

    .item_list_event:not(:last-child) {
        padding-bottom: 24px;
    }

    .underline_link {
        /* 1. 文章を折り返さない */
        white-space: nowrap;
        /* 2. 枠からはみ出た部分を隠す */
        overflow: hidden;
        /* 3. はみ出た部分を「...」で表示 */
        text-overflow: ellipsis;
    }
}

/* ====================================
// ACCESS
// ==================================== */
.title_access {
    text-align: center;
    margin-top: 68px;
    margin-bottom: 35px;
}

.map {
    filter: grayscale(100%) invert(92%) contrast(83%);
    vertical-align: bottom;
}

@media screen and (max-width: 768px) {
    .title_access {
        margin-top: 33px;
        margin-bottom: 10px;
    }

    .map {
        height: 191px;
    }
}

/* ====================================
// フッター
// ==================================== */
footer {
    background-color: #fff;
}

.footer_container {
    display: flex;  
    max-width: 1020px;
    padding: 83px 10px 0; 
    margin: 0 auto;
    /* gap: 65px; */
    gap: 6.5%;
}

.logo_footer {
    width: 227px;
}

.corporate_info {
    font-size: 20px;
    letter-spacing: 0em;
    font-style: normal;
}

.corporate_info p:not(:last-child) {
    margin-bottom: 14px;
}

.copyright {
    text-align: center;
    font-size: 16px;
    line-height: 2.19;
    letter-spacing: 0em;
    padding-top: 74px;
    padding-bottom: 74px;
}

.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

@media screen and (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        max-width: 1020px;
        padding: 41px 22px 0; 
        margin: 0 auto;
        gap: 30px;
    }

.corporate_info {
        font-size: 18px;
        /* 31÷18=1.722 */
        /* line-height: 1.72; */
        line-height: 1;
        letter-spacing: 0em;
}

    .corporate_info p:not(:last-child) {
        margin-bottom: 10px;
    }

    .copyright {
        text-align: center;
        font-size: 16px;
        /* 35÷16=2.187 */
        /* line-height: 2.19; */
        line-height: 1;
        letter-spacing: 0em;
        padding-top: 50px;
        padding-bottom: 33px;
    }

    .toTop {
        position: fixed;
        bottom: 12px;
        right: 12px;
        width: 100px;
    }
}